nav,
a,
.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  gap: 5rem;
}

.profile-section {
  padding: 0.8rem;
  color: white;
}

.my-profile-photo {
  width: 100%;
  height: auto;
}

.nav-links-container {
  width: 100%;
  list-style-type: none;
  padding: 0;
  color: white;
}

a {
  text-decoration: none;
  color: #555;
}

a:hover {
  color: #4d91de;
}

.active {
  color: #4d91de;
}

.nav-links-container > li {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

.nav-links-container > li + li,
.nav-links-container > li:first-child {
  border-top: 0.1rem solid silver;
}

.nav-links-container > li:last-child {
  border-bottom: 0.1rem solid silver;
}

.icon {
  font-size: 3rem;
}

.nav-title {
  font-size: 1.5rem;
}

@media screen and (max-width: 990px) {
  .my-profile-photo {
    width: 30%;
  }

  .profile-name {
    display: none;
  }
}
