.swiper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid white;
  width: 100%;
  height: 93%;
  padding-top: 10rem;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 75rem;
  height: 67%;
  background-color: transparent;
  background-image: url('../../assets/images/awesome-books-wf.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 990px) {
  .swiper {
    height: 88%;
  }
}
