.swiper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid white;
  width: 100%;
  height: 93%;
  padding-top: 16rem;
}

.project-card {
  width: 100%;
  height: 100%;
  transition: transform 1.9s;
  -webkit-transition: transform 1.9s;
  -moz-transition: transform 1.9s;
  -ms-transition: transform 1.9s;
  -o-transition: transform 1.9s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: white;
  overflow: auto;
  background: #1c1f54;
}

.project-name {
  font-size: 3rem;
}

.project-image {
  width: 100%;
  height: 100%;
}

.description {
  outline: #4d91de inset;
  text-align: center;
  padding: 1rem;
  width: 80%;
  font-size: 2rem;
}

.tech-used {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.links {
  margin-top: 3rem;
}

.links a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
}

.links button:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

@media screen and (max-width: 990px) {
  .swiper {
    height: 88%;
    padding-top: 3rem;
  }

  .swiper-slide {
    width: 32rem;
    height: 89%;
    background: transparent;
  }

  .card-back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
  }

  .read-more {
    display: none;
    position: absolute;
    bottom: 8rem;
    left: 12rem;
    padding: 0.7rem 1rem;
    border: none;
    outline: none;
    background: rgb(255, 0, 140);
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.03rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    box-shadow: 0 3.5rem 1.3rem -1rem rgb(118, 114, 114);
    animation: anime 1s infinite ease-in-out alternate;
    -webkit-animation: anime 1s infinite ease-in-out alternate;
  }

  @keyframes anime {
    100% {
      transform: translateY(2rem);
      -webkit-transform: translateY(2rem);
      -moz-transform: translateY(2rem);
      -ms-transform: translateY(2rem);
      -o-transform: translateY(2rem);
      box-shadow: 0 2rem 1.3rem -1rem rgb(62, 58, 58);
    }
  }

  .swiper-slide-active .read-more {
    display: block;
  }

  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    border: none;
    background-color: rgba(255, 0, 0, 0.577);
    color: white;
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 990px) {
  .swiper {
    padding-top: 20rem;
  }

  .swiper-slide {
    width: 60rem;
    height: 70%;
  }

  .card-back {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
  }

  .swiper-slide-active:hover .project-card {
    transform: rotateX(-180deg);
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    -o-transform: rotateX(-180deg);
  }
}

@media screen and (min-width: 1300px) {
  .swiper {
    padding-top: 13rem;
  }

  .swiper-slide {
    position: relative;
    width: 75rem;
    height: 45rem;
  }

  .swiper-slide-active {
    width: 85rem;
    height: 50rem;
  }

  .swiper-slide-prev {
    margin-top: 3rem;
  }

  .swiper-slide-next {
    margin-top: 3rem;
  }
}
