.about_me_container {
  margin-top: 5rem;
  width: 80%;
  height: 90vh;
  background-color: #222222;
  overflow: auto;
  padding: 2rem;
}

.page_title {
  text-align: center;
  color: rgb(134, 131, 131);
  font-size: 4rem;
}

.profile_photo {
  width: 100%;
  height: auto;
}

.about_text {
  font-size: 2.5rem;
}

.achievements_title {
  font-size: 3rem;
  color: white;
  text-align: center;
}

@media screen and (max-width: 990px) {
  .about_me_container {
    margin: 0;
    width: 100%;
    min-height: 100vh;
  }
}
