.main-container {
  height: 100vh;
}

.navbar-container {
  z-index: 1;
  position: fixed;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  width: 15rem;
  padding: 0;
  background-color: #222;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 991px) {
  .page-content {
    padding-left: 15rem;
    width: 100%;
  }
}
