* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 5px;
  height: 11px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #4d91de;
  border: 0px solid transparent;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
    background: #091221;
    border: 0px none #ffffff;
    border-radius: 53px;
}

@media screen and (max-width: 990px) {
  body {
    margin-top: 6rem;
  }
}
